node_modules
.expo
.expo-shared
.expo-home
.expo-appdata
.expo-localappdata
.appdata
.localappdata
.npm-cache
dist
web-build
web-dist
netlify-preview
coverage
*.log
*.err.log
android
ios
.env
.env.*
!.env.example
expo-env.d.ts